@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument Extended";
  src: url("/MonumentExtended/MonumentExtended.woff2") format("woff2");
}

body {
  background-color: black;
  color: white;
}



.gradien-style {
  background: linear-gradient(90deg, #7F41FF 0%, #D7A7EE 99.99%, #3F2FB9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.swiper {
  width: 253px;
  height: 312px;
  background: transparent;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

